$mainColor: #000;
$secondaryColor: #129cec;

html {
  scroll-padding-top: 72px;
}

nav {
  transition: 0.5s ease-in-out;
}

.navbar-brand,
.nav-link {
  text-shadow: 1px 1px #000;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: $secondaryColor;
}

.nav-item {
  margin: -2px 0;
}

#callUs {
  position: fixed;
  bottom: 5px;
  right: 5px;
  width: 20vw;

  img {
    width: 100%;
  }
}

.phoneIcon {
  margin-left: auto;
  margin-right: 20px;
  opacity: 0.5;
  transform: scale(1.5);
  color: #fff;

  &:hover {
    opacity: 0.8;
    color: #fff;
  }
}

.bg-pizzeria {
  background-color: $mainColor;
}

#bg-scroll {
  background-color: $mainColor;
}

/* -------------------------------
MAIN PHOTO
------------------------------- */
.mainPhotoArea {
  overflow: hidden;
  position: relative;

  img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    object-position: 65%;
  }
}

.mainText {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 100px;
  font-weight: 600;
  text-shadow: 3px 3px #000;
  text-align: center;
}

/* -------------------------------
MENU
------------------------------- */
.menuArea img {
  width: 100%;
}

.menuButtons {
  text-align: center;

  button {
    border: 0;
    border-radius: 15px;
    color: #fff;
    background-color: rgb(0, 0, 0);
    padding: 5px 15px;
    transition: 0.2s ease-in-out;

    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
}

/* -------------------------------
DISCOUNT AREA
------------------------------- */

.pizzaOfTheDay {
  margin: 30px auto;
  width: 100%;
  text-align: center;

  tbody {
    border: 1px solid #000;
  }

  tr:first-of-type {
    background-color: $secondaryColor;
    color: #fff;
  }

  th {
    padding: 10px;
    text-transform: uppercase;
  }

  td {
    padding: 15px 10px;
  }
}

/* -------------------------------
DELIVERY AREA
------------------------------- */
.deliveryArea h1,
.discountArea h1 {
  margin-bottom: 20px;
}

/* -------------------------------
INSIDE PHOTO
------------------------------- */

.insidePhotoArea {
  overflow: hidden;

  img {
    height: 80vh;
    width: 100%;
    object-fit: cover;
    object-position: 55%;
  }
}

/* -------------------------------
MAP
------------------------------- */

.mapArea {
  overflow: hidden;
}

/* -------------------------------
FOOTER
------------------------------- */

footer {
  text-align: center;
  background-color: #000;
  color: #fff;
  padding: 20px;
}

@media (min-width: 992px) {
  .bg-pizzeria {
    background-color: transparent;
  }

  .nav-item {
    padding: 0 5px;
  }

  .menuButtons button {
    width: 150px;
    padding: 10px 20px;
  }

  .pizzaOfTheDay {
    width: 75%;
  }
}
