:root {
  --mainColor: #000;
  --whiteColor: #fff;
}

html {
  scroll-padding-top: 72px;
}

nav {
  transition: 0.5s ease-in-out;
}

.navbar-brand,
.nav-link {
  text-shadow: 1px 1px #000;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
}

.nav-link:hover {
  color: #129cec !important;
}

.nav-item {
  margin: -2px 0;
}

#callUs {
  position: fixed;
  bottom: 5px;
  right: 5px;
  width: 20vw;
}

#callUs img {
  width: 100%;
}

.phoneIcon {
  margin-left: auto;
  margin-right: 20px;
  opacity: 0.5;
  transform: scale(1.5);
  color: white;
}

.phoneIcon:hover {
  opacity: 0.8;
  color: white;
}

.bg-pizzeria {
  background-color: #000;
}

@media (min-width: 992px) {
  .bg-pizzeria {
    background-color: transparent;
  }

  .nav-item {
    padding: 0 5px;
  }
}

/* -------------------------------
MAIN PHOTO
------------------------------- */
.mainPhotoArea {
  overflow: hidden;
  position: relative;
}

.mainPhotoArea img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: 65%;
}

.mainText {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  color: var(--whiteColor);
  font-size: 100px;
  font-weight: 600;
  text-shadow: 3px 3px #000;
  text-align: center;
}

/* -------------------------------
MENU
------------------------------- */
.menuArea img {
  width: 100%;
}

.menuButtons {
  text-align: center;
}

.menuButtons button {
  border: 0;
  border-radius: 15px;
  color: var(--whiteColor);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px 15px;
  /* width: 100px; */
  transition: 0.2s ease-in-out;
}

.menuButtons button:hover {
  background-color: rgba(0, 0, 0);
}

@media (min-width: 992px) {
  .menuButtons button {
    width: 150px;
    padding: 10px 20px;
  }
}

/* -------------------------------
DISCOUNT AREA
------------------------------- */

.pizzaOfTheDay {
  margin: 30px auto;
  width: 100%;
  text-align: center;
}

@media (min-width: 992px) {
  .pizzaOfTheDay {
    width: 75%;
  }
}

.pizzaOfTheDay tr:first-of-type {
  background-color: #015687;
  color: var(--whiteColor);
}

.pizzaOfTheDay tbody {
  border: 1px solid black;
}

.pizzaOfTheDay th {
  padding: 10px;
  text-transform: uppercase;
}

.pizzaOfTheDay td {
  padding: 15px 10px;
}

/* -------------------------------
DELIVERY AREA
------------------------------- */
.deliveryArea h1,
.discountArea h1 {
  margin-bottom: 20px;
}

/* -------------------------------
INSIDE PHOTO
------------------------------- */

.insidePhotoArea {
  overflow: hidden;
}

.insidePhotoArea img {
  height: 80vh;
  width: 100%;
  object-fit: cover;
  object-position: 55%;
}

/* -------------------------------
MAP
------------------------------- */

.mapArea {
  overflow: hidden;
}

/* -------------------------------
FOOTER
------------------------------- */

footer {
  text-align: center;
  background-color: var(--mainColor);
  color: var(--whiteColor);
  padding: 20px;
}
