$mainColor: #000;
$secondaryColor: #129cec;
$tbodyColor: rgba(18, 157, 237, 0.05);

html {
  scroll-padding-top: 72px;
}

body {
  background-color: #000;
  font-family: "Source Sans Pro", sans-serif;
}

main {
  background-color: #fff;
}

nav {
  transition: 0.5s ease-in-out;
}

.navbar-brand,
.nav-link {
  text: {
    shadow: 1px 1px #000;
    transform: uppercase;
  }
  font-weight: 600;
}

.navbar-brand {
  font-size: 22px;
}

.navbar-dark .navbar-nav .nav-link {
  font-size: 18px;
  &:hover {
    color: $secondaryColor;
  }
}

.nav-item {
  margin-left: 10px;
}

#callUs {
  position: fixed;
  z-index: 2;
  bottom: 5px;
  right: 5px;
  width: 20vw;

  img {
    width: 100%;
  }
}

.phoneIcon {
  margin: 0 20px 0 auto;
  opacity: 0.5;
  transform: scale(1.5);
  color: #fff;

  &:hover {
    opacity: 0.8;
    color: #fff;
  }
}

.bg-pizzeria,
#bg-scroll {
  background-color: $mainColor;
}

/* -------------------------------
MAIN PHOTO
------------------------------- */
.mainPhotoArea {
  overflow: hidden;
  position: relative;

  img {
    height: 100vh;
    width: 100%;
    object: {
      fit: cover;
      position: 65%;
    }
  }
}

.mainText {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  color: #fff;
  font: {
    size: 100px;
    weight: 600;
  }
  text: {
    shadow: 3px 3px #000;
    align: center;
  }
  line-height: 150%;
}

.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

/* -------------------------------
MENU
------------------------------- */
.menuArea img {
  width: 100%;
}

.menuButtons {
  text-align: center;

  button {
    border: 0 {
      radius: 10px;
    }
    width: 100px;
    margin-bottom: 10px;
    color: #fff;
    background-color: rgb(0, 0, 0);
    padding: 5px 15px;
    transition: 0.2s ease-in-out;

    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
}

/* -------------------------------
DISCOUNT AREA
------------------------------- */
.currentDiscounts {
  margin: 30px auto;
  overflow: hidden;
  border: 1px solid $secondaryColor {
    radius: 30px;
  }
}

.pizzaOfTheDay {
  width: 100%;
  text-align: center;

  tbody {
    background-color: $tbodyColor;
  }

  tr:first-of-type {
    background-color: $secondaryColor;
    color: #fff;
  }

  th {
    padding: 8px 15px;
    position: relative;
    font: {
      size: 36px;
      family: "Kaushan Script", cursive;
    }
    text-shadow: 1px 1px 2px #000;
  }

  td {
    padding: 20px 10px;
    font-size: 16px;
  }
  .pizzaOfTheDayOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: {
      image: url("../img/pattern.jpg");
      size: cover;
      position: bottom;
    }
    opacity: 0.05;
  }
}

/* -------------------------------
DELIVERY AREA
------------------------------- */
.deliveryArea h1,
.discountArea h1 {
  margin-bottom: 20px;
}

/* -------------------------------
INSIDE PHOTO
------------------------------- */

.insidePhotoArea {
  overflow: hidden;

  img {
    height: 80vh;
    width: 100%;
    object: {
      fit: cover;
      position: 55%;
    }
  }
}

/* -------------------------------
MAP
------------------------------- */

.mapArea {
  overflow: hidden;
  .row {
    height: 450px;
    max-height: 60vh;
  }
}

/* -------------------------------
FOOTER
------------------------------- */

footer {
  text-align: center;
  background-color: #000;
  color: #fff;
  padding: 20px;
}

@media (min-width: 992px) {
  .bg-pizzeria {
    background-color: transparent;
  }

  .nav-item {
    padding: 0 5px;
  }

  .menuButtons button {
    width: 150px;
    padding: 10px 20px;
  }

  .currentDiscounts {
    width: 75%;
  }

  .navbar-dark .navbar-nav .nav-link {
    font-size: 20px;
  }

  .navbar-brand {
    font-size: 24px;
  }
}
